/*@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.icon-star {
    color: #ffffff;
    padding: .05m 0m;
    font-size: 30pt;
    text-shadow: 0 0 3px #070707;
}

.choice {
    color: #f4b610;
}

.not-choice {
    color: ##ffffff;
}

.yellow {
    color: #f4b610;
}

.grey {
    color: ##ffffff;
}

.rating {
    position: absolute;
    margin-top: 30px;
    margin-left: -150px;
    margin-right: auto;
    left: 50%;
    text-align: center;
    background-color: #ffffff;
    background: transparent;
    width: 300px;
    border-radius: 5px;
}

.why-text {
    position: absolute;
    font-size: 8em;
    top: 200px;
    left: 10%;
    color: black;
    text-align: center;
    background: transparent;
    width: 80%;
    border-radius: 5px;
}

.button-done {
    position: absolute;
    font-size: 26px;
    top: 390px;
    left: 50%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-left: -28px;
    text-align: center;
    background-color: #ffffff;
    line-height: 190%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 5;
}

body {
    background: #f0f0f0;
}

.mdl-tabs__panel--transparent {
    /*transition: background-image 0.6s ease-in;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.mdl-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #dadada;
    overflow: hidden;
}

.mdl-background > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mdl-tabs__tab-bar-opaque {
    background: white;
}

.mdl-layout-title {
    color: black;
}

.mdl-textfield__input {
    border-bottom: 1px solid #ffffff !important;
    font-size: 5vw;
    color: white;
    text-shadow: 0 0 3px #313131;
}

.mdl-textfield__label {
    text-shadow: 0 0 3px #070707;
    color: white !important;
}

.demo-card-square.mdl-card {
    margin: 2%;
    width: 96%;
    min-height: 100px !important;
}

.demo-card-square > .mdl-card__title {
    color: #3b3b3b;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-button__delete-fav > .material-icons {
    color: #919191;
}

.hidden {
    display: none;
}

.animate-show.ng-add,
.animate-show.ng-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-add.ng-add-active,
.animate-show.ng-remove {
    opacity: 0;
}

.animate-show.ng-add,
.animate-show.ng-remove.ng-remove-active {
    opacity: 1;
}

.star {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.underline {
    border-bottom: 3px solid #5264AE;
}
.fav-yourself-header {
    position: fixed; width: 100vw; height:50px; top: 0; z-index: 2; background: white; text-align: center;
}

.fav-yourself-logo {
    position:relative; float:left; margin-left: 8px; margin-top: 7px; margin-bottom: 5px; width: 32px; height: 32px; display: block;
}

.fav-yourself-tabs-container {
    display: block; position: absolute; height:50px; left: 50%;transform: translateX(-50%); min-width: 200px;
}

.background-img {
    -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
    transition: opacity .5s;
}

.background-img-hide {
    opacity: 0;
}

.background-img-show {
    opacity: 1;
}

.fav-star-number {
    font-size: 24px; font-weight: 500; color: #f4b610
}

#today-panel {
    margin-top: 59px;
}
